.personalcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
  
.job-des {
    color: grey;
    font-size: 18px;
}
  
section p button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
section a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
section button:hover, a:hover {
    opacity: 0.7;
}

#contact-cardimg{
    width: 100%;
    height: auto;
    align-content: center;
}