* {
    border-style: border-box;
}
body {
    font-size: 16px;
    background: url('../images/NYcity.jpg');
    background-repeat: no-repeat;
    background-position: cover;
    font-family: 'Oxygen', sans-serif;
  }

/** HEADER **/
.figure img {
    height: 450px;
    width: 350px;
}
.navbar-brand {
    padding-top: 25px;
  }
.navbar-brand h1 {
    font-family: 'Lora', serif ;
    color: rgb(89, 129, 240);
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
.navbar-nav {
    margin-top: 10px;
}
.navbar-nav a {
    text-align: center;
}
.navbar-nav a:hover {
    background: #c4c7fa;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
/* END HEADER */

/** CONTENT **/
#introduction {
  font-size: 16px;
  inline-size: 1.5;
  display: block;
  margin-left: 10px;
  margin-top: 25px;
  clear: both;
}

/** FOOTER **/
.card {
  display: block;
  clear: both;
}