/** HEADER **/

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-family: "Lora", serif;
  color: black;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  margin-top: -10px;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
.navbar-nav {
  margin-top: 15px;
}
.navbar-nav a {
  text-align: center;
}
.navbar-nav a:hover {
  background: rgb(236, 234, 234);
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/** CONTENT **/
h2 {
  font-size: 36px;
  margin-left: 25px;
  font-family: "Anton", sans-serif;
}
.introduction {
  font-size: 16px;
  margin-top: 5px;
  clear: both;
}

.card-envo:hover {
  background-color: rgb(236, 234, 234);
}

#personalcard {
  background-color: rgb(230, 230, 230);
}

/** END CONTENT**/

/**FOOTER**/
.footer {
  margin-top: auto;
  background-color: #f5f5f5;
  width: auto;
  padding: 0 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
